.ProseMirror {
  .node-title {
    position: relative;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--semi-color-text-0);

    &::before {
      position: absolute;
      height: 0;
      color: var(--semi-color-text-0);
      pointer-events: none;
      content: attr(data-placeholder);
    }
  }

  &.is-editable {
    .node-title::before {
      top: 0;
      color: #aaa;
    }
  }
}

@media print {
  .ProseMirror {
    .node-title {
      border-bottom: 0;
    }
  }
}
